.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30 px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.login-form label {
    font-weight:bold;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #3e4042;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #93989c;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
}

.options input[type="checkbox"] {
    margin-right: 5px;
}

.forgot-password {
    color: #97230f;
    cursor: pointer;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
    color:#97230f;
    font-size: 14px;
    cursor: pointer;
}