#premier-section {
    display: flex;
    flex-direction: column;
    align-items: center;  /* centers premier-container */
    margin-top: 2rem;
}

#quest{
    margin-top: 2rem;
    text-align: center;
}

#premier-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    background: #2b2f33;       
    border-radius: 12px;
    padding: 1.5rem;
    width: fit-content;
    margin-bottom: 8rem;
}

#premier-img {
    width: 20vw;
    border-radius: 8px;
    background: #2b2f33;
}

