#location{
    margin-top: 1rem;
    margin-left: 8rem;
    color: #e9eef2;
}

#premier-league-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;                    
    padding-top: 2rem;
}

.input-bar{
    background: white;
    min-width: 14vw;
    margin-left: 0.5rem;
}

#submit-button{
    cursor: pointer;
    width: 12vw;
    height: 7vh;
    align-self: center;
    color: white;
    background: #2b2f33;;
    margin-top: 2rem;
    border-radius: 15px;
    border: black;
}

#submit-button:hover{
    background: #444c56;
}