#premier-league-teams-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.team {
    width: calc(20% - 1rem);   /* exactly 5 per row */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.team img {
    width: 110px;      /* increase image size */
    height: 110px;
    object-fit: contain;
}