.settings-page {
    background-color: #0A141C;
    color: #ffffff;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* #2b2f33; */
.account-settings, .app-preferences {
    margin: 0 auto 10px;
    max-width: 600px;
    background-color: #2b2f33;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.account-settings h2, .app-preferences h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #ffffff;
    background: #2b2f33;
}

.settings-section {
    margin-bottom: 40px;
    text-align: center;
    background: #2b2f33;
}

.settings-section h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px; 
    line-height: 1.5; 
    font-size: 1.2rem;
    color: #ffffff;
    background: #2b2f33;
}

.settings-section input {
    width: 70%;
    padding: 10px;
    text-align: center;
    display: block;
    margin: 0 auto 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    background: lightgray;
}

.settings-section button {
    padding: 10px 20px;
    border: none;
     margin: 0 auto 10px;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.settings-section button:hover {
    background-color: #45a049;
}

.settings-section button:active {
    background-color: #3e8e41;
}
