.team-info{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: center;
}

.team-info img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-right: 1.5rem;
}

.team-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
}

.team-right-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}