#team-container {
    width: calc(20% - 1rem);
    background: #2b2f33;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    color: #e9eef2;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 2rem;
    text-decoration: none;
}

#team-img {
    width: 110px;      /* increase image size */
    height: 110px;
    object-fit: contain;
    display: block;
    background: #2b2f33;
}

#team-container p{
    background: #2b2f33;
}

